includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../controllers
		- ../../hideprestashopcolumns.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Parameter \#1 \$key of method PrestaShop\\PrestaShop\\Adapter\\Configuration::remove\(\) expects PrestaShop\\PrestaShop\\Adapter\\type, string given.#'
	level: 5
